.cat{
    width: 300px;
    border-radius: 20px;
}
.cat1{
    width:200px;
    height:200px;
    object-fit: cover;
    margin-left: 100px;
}
.cat2{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 700px;
    margin-left: 100px;
}
.search-box{
    width: 300px;
    border-radius: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size:20px;
    border-color: rgb(201, 171, 171);
    border: 100px;
    
}
.google{
    border:none;
    box-shadow: 1px 1px 1px 1px rgb(209, 188, 188);
    border-radius: 30px;
    padding: 15px 15px ;
    padding-right: 40px;
    width: 500px;
    font-size:20px;

    

}